@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #fff;
}

.card-img {
    background-position: center;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#img01 {
    background-image: url("https://psv4.userapi.com/c856416/u155561278/docs/d2/fd7449d3ea92/f.png?extra=7e6LlF89-DJIloE_D-1cr8KCKvVjoKtTCVqNLlTW7_rfROi-Ji36BmSfS6sHFx2k6QcpoEW2NL6UOfdQ5170WjNRj7G3yfOzDULQnwkFW4m1cmuX2Hrbtbxderwl50yr7s82qq6yfuJ4ZBYsydb099k4");
}

#img02 {
    background-image: url("https://sun9-58.userapi.com/impf/EnGh8dXMJcqqEPOqdZH7rtAI6CE8zz7HaWXUGA/XceGv3HrQVQ.jpg?size=1440x1920&quality=96&proxy=1&sign=4de5ce1af4e62e373542bd370d2ba43e&type=album");
}

#img03 {
    background-image: url("https://sun9-68.userapi.com/impf/FYq2LotfFIJwWEX5gw6GgATOWvtYW2yKhQbYCw/iAXzrWRiubY.jpg?size=1440x1920&quality=96&proxy=1&sign=48cf0b6287628d2952c721a4cdf76e00&type=album");
}

.card-content {
    padding: 10% 5%;
    box-sizing: border-box;
    width: 50%;
    background: #0a0a0a;
}

.card-theme {
    font-weight: 900;
    font-size: 1.7vmin;
    text-transform: uppercase;
    font-family: "Roboto";
    letter-spacing: 10px;
    color: grey;
}

.card-header {
    font-weight: 400;
    font-size: 34px;
    text-transform: uppercase;
    line-height: 1;
    margin: 3vmin 0 3.5vmin;
    color: #fff;
    font-family: "Roboto";
}

.card-para {
    font-size: 1.9vmin;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 2.5vmin;
    color: #fff;
    font-family: "Roboto";
}

.card-link {
    color: #fff;
    font-family: "Roboto";
    font-size: 1.8vmin;
    display: block;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.card-link:after {
    content: "→";
}

.prevnext {
    position: absolute;
    width: 4vmin;
    height: 8vmin;
    right: 2%;
    bottom: 0;
    top: 80%;
    color: #fff;
    margin: auto 0;
}

.pn-btn {
    color: #fff;
    width: 100%;
    height: 50%;
    border: 0;
    background-color: transparent;
    font-size: 20px;
}

#prev, #next {
    position: relative;
    cursor: pointer;
}

#prev:focus next:focus {
    outline: none;
}

#prev:hover::after next:hover::after {
    opacity: 1;
}

#prev::after next::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
    transition: opacity 0.3;
}

#prev:after {
    content: "↑";
}

#next:after {
    content: "↓";
}

@media screen and (max-width: 450px) {
    .card-content {
        width: 100%;
    }

    .card-img {
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column-reverse;
    }

    .card-para {
        font-size: 14px !important;
    }
}
